.contenedor{
    background-color: #84DFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}
 .avatar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
 }
 header h1{
    font-size: 1.2em;
 }
 .links a{
    text-decoration: none;
    color: #0f140e;
    padding: 3px;

 }
.links a i{
    font-size: 30px;
}
.container-p {
    margin: 0 auto;
    max-width: 380px;
}
 .menu{
    list-style: none;
 }
 .menu li{
    margin: 10px;
 }
/* BUTONS */

.menu .menu-link {
	box-shadow: -4px 4px 0px 0px #0f140e;
	background-color:#FFEA20;
	border:2px solid #393d39;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
   color: #0f140e;
}
.menu-link:hover {
	background-color:#191a18;
   color: #FFEA20;
}
.menu-link:hover,
.menu-link:active {
	position:relative;
	top:1px;
}
